[data-md-color-scheme="slate"] {
  --md-hue: 210;
}

[data-md-color-scheme="default"] {
  --md-default-bg-color: #ededed;
}

.md-tabs__item:first-child {
  margin-right: 1rem;
}

.md-tabs__item:last-child {
  margin-left: 1rem;
}

.md-nav__item--section {
  text-transform: capitalize;
}

ul.md-nav__list, .md-nav__link {
  text-transform: lowercase;
}

.md-footer__title {
  text-transform: lowercase;
}

.md-nav__item--section {
  text-transform: capitalize;
}

ul.md-nav__list, .md-nav__link {
  text-transform: lowercase;
}

.md-footer__title {
  text-transform: lowercase;
}

#matrix-gen-form {
  fieldset {
    margin-bottom: 1rem;
  }

  .form-group {
    margin-bottom: .5rem;
  }
}

.md-typeset a:not(.md-icon) {
    &[target="_blank"][rel="noopener"]::after {
        content: "↗";
        font-size: smaller;
        margin-left: .2em;
        vertical-align: top;
    }
}

[data-md-component="outdated"].dev aside {
    background-color: black !important;
    color: white;
}


#outdated-notice {
    display: flex;
    align-items: center;
    gap: 1ch;
}

#dismiss-outdated-notice-button {
    margin-left: auto;
    color: white;
    padding: .2rem .6rem;
    background-color: var(--md-primary-fg-color--dark);
    cursor: pointer;

    &:hover {
        background-color: transparent;
    }
}