[data-md-color-scheme="slate"] {
}

[data-md-color-scheme="default"] {
}

.md-tabs__item:first-child {
  margin-right: 1rem;
}

.md-tabs__item:last-child {
  margin-left: 1rem;
}

.md-nav__item--section {
  text-transform: capitalize;
}

ul.md-nav__list, .md-nav__link {
  text-transform: lowercase;
}

.md-footer__title {
  text-transform: lowercase;
}

.md-nav__item--section {
  text-transform: capitalize;
}

ul.md-nav__list, .md-nav__link {
  text-transform: lowercase;
}

.md-footer__title {
  text-transform: lowercase;
}

#matrix-gen-form {
  fieldset {
    margin-bottom: 1rem;
  }

  .form-group {
    margin-bottom: .5rem;
  }
}

.md-typeset, .md-tabs__item {
    a:not(.md-icon, .md-social__link) {
        &[target="_blank"][rel="noopener"]::after {
            content: "↗";
            font-size: smaller;
            margin-left: .2em;
            vertical-align: top;
        }
    }
}

body.dev-mode {

        aside {
            background-color: black;
            color: white;

            strong {
                color: var(--md-primary-fg-color--light);
            }
        }
}

[data-md-component="outdated"] {
    .outdated-text-wrapper {
        display: flex;
        gap: 1ch;
        align-items: center;
    }

    button {
        margin-left: auto;
        border-radius: 50%;
        padding: .2rem;
        cursor: pointer;

        svg {
            fill: var(--md-primary-fg-color--light);
            height: 1rem;
        }
    }
}

.md-version__current.version-number, .md-version__list li.version-number a {
    &::before {
        content: "v";
        opacity: .5;
    }
}
