[data-md-color-scheme="slate"] {
  --md-hue: 210;
}

.md-tabs__item:first-child {
  margin-right: 1rem;
}

.md-tabs__item:last-child {
  margin-left: 1rem;
}

.md-nav__item--section {
  text-transform: capitalize;
}

ul.md-nav__list, .md-nav__link {
  text-transform: lowercase;
}

.md-footer__title {
  text-transform: lowercase;
}

.md-nav__item--section {
  text-transform: capitalize;
}

ul.md-nav__list, .md-nav__link {
  text-transform: lowercase;
}
